<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@1.4/lib/theme-default/index.css">

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/ajax.js"></script>
    <title>赛事报名列表</title>
    <style>
        .el-upload--picture-card {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        html {
            width: 100%;
            height: 100%;
        }

        template {
            display: block;
        }
    </style>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>

<body>
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue@2.5/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui@1.4/lib/index.js"></script>
    <div id="app">
        <el-button type="primary" @click="add" style="margin-bottom:20px">添加赛事</el-button>
        <el-table :data="tableData" style="width: 600px">
            <el-table-column prop="start_time" label="比赛报名时间" width="250">
            </el-table-column>
            <el-table-column prop="title" label="赛事标题" width="180">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">报名</el-button>
                </template>
            </el-table-column>
        </el-table>



        <el-dialog title="添加" :visible.sync="dialogVisible" size="tiny">
            <el-form label-position="left" label-width="180px" :model="form">
                <el-form-item label="赛事标题">
                    <el-input v-model="form.title" style="width: 300px;"></el-input>
                </el-form-item>
                <el-form-item label="选择路线">
                    <!-- <el-input v-model="form.lineId" style="width: 300px;"></el-input> -->
                     <el-radio-group v-model="form.lineId">
                         <el-radio :label="3">路线规划</el-radio>
                         <el-radio :label="6">推荐路线</el-radio>
                     </el-radio-group>
                </el-form-item>
                <el-form-item label="比赛报名时间">
                    <el-input v-model="form.signStartTime" style="width: 300px;"></el-input>
                </el-form-item>

                <el-form-item label="比赛开始时间">
                    <el-input v-model="form.startTime" style="width: 300px;"></el-input>
                </el-form-item>

                <el-form-item label="比赛截止日期">
                    <el-input v-model="form.endTime" style="width: 300px;"></el-input>
                </el-form-item>
                <el-form-item label="参与人数">
                    <el-input v-model="form.awardNum" style="width: 300px;"></el-input>
                </el-form-item>
                <el-form-item label="奖励积分">
                    <el-input v-model="form.integral" style="width: 300px;"></el-input>
                </el-form-item>

                <el-form-item label="描述">
                    <el-input type="textarea" v-model="form.content" style="width: 300px;"></el-input>
                </el-form-item>

                <el-form-item label="赛事封面">
                    <el-upload class="avatar-uploader" action="http://qixing.dqhtravel.com/DInterface/appimgupload.aspx"
                        :show-file-list="false" :on-success="handleAvatarSuccess">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
                <el-form-item>
                    <el-button plain @click.native.prevent="submit">提交</el-button>
                </el-form-item>
            </el-form>
            <!-- <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
            </span> -->
        </el-dialog>
    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    dialogVisible: false,
                    tableData: [],
                    imageUrl: '',
                    id: '',
                    form: {
                        lineId: '',
                        signStartTime: '',
                        startTime: '',
                        endTime: '',
                        totalNum: '',
                        awardNum: '',
                        integral: '',
                        content: '',
                    }
                };
            },
            methods: {
                add() {
                    this.dialogVisible = true;
                },
                handleClick(row) {
                    console.log(row);
                    let params = {
                        'token': '807BB0364FC5EC081D396599D7D3D4A6',
                        'matchId': row.id
                    }
                    fetch( '/PCodeClient/api.ashx?cmd=dqh_creatMatch&token=807BB0364FC5EC081D396599D7D3D4A6',
                        params
                    ).then(res=>{
                        this.$message.success(res.msg.ds[0].msg)
                    })
                },
                handleAvatarSuccess(res, file) {
                    this.form.img = res.src;
                    this.imageUrl = URL.createObjectURL(file.raw);
                },
                // beforeAvatarUpload(file) {
                //     const isJPG = file.type === 'image/jpeg';
                //     const isLt2M = file.size / 1024 / 1024 < 2;
                //     if (!isJPG) {
                //         this.$message.error('上传头像图片只能是 JPG 格式!');
                //     }
                //     if (!isLt2M) {
                //         this.$message.error('上传头像图片大小不能超过 2MB!');
                //     }
                //     return isJPG && isLt2M;
                // },
                submit() {
                    let params = {
                            ...this.form,
                            ...{
                                'token': '807BB0364FC5EC081D396599D7D3D4A6',
                            }
                        }
                    fetch('/PCodeClient/api.ashx?cmd=dqh_creatMatch&token=807BB0364FC5EC081D396599D7D3D4A6',
                        params).then((res)=>{
                            this.$message.success(res.msg.ds[0].msg)
                            this.dialogVisible = false;
                              this.init()
                        })
                },
                init(){
fetch('/PCodeClient/api.ashx?cmd=dqh_matchList&token=807BB0364FC5EC081D396599D7D3D4A6')
.then(res => {
this.tableData = res.msg.ds1;
})
                }

                // submit() {
                // fetch('http://47.99.66.186:9999/PCodeClient/api.ashx?cmd=dqh_signMatch', {
                // 'token': '807BB0364FC5EC081D396599D7D3D4A6',
                // })
                // }

            },
            created() {
                this.init()
            }
        })
    </script>

</body>

</html>