<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script src="../js/iframeMsg.js"></script>
    <title>赛事报名列表</title>
    <style>
        .el-upload--picture-card {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        html {
            width: 100%;
            height: 100%;
        }

        template {
            display: block;
        }

        iframe {
            width: 100%;
            height: 70%;
        }
    </style>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }

        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>

<body>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <div id="app">
        <el-button type="primary" @click="add" style="margin-bottom:20px">添加赛事</el-button>
        <el-table :data="tableData" style="width: 600px">
            <el-table-column prop="start_time" label="比赛报名时间" width="250">
            </el-table-column>
            <el-table-column prop="title" label="赛事标题" width="180">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button type="text" size="small" v-if="scope.row.sign_status>0">
                        已报名
                    </el-button>
                    <el-button v-else type="text" @click="handleClick(scope.row)" size="small">
                        报名
                    </el-button>
                </template>
            </el-table-column>
        </el-table>



        <el-dialog title="添加" :visible.sync="dialogVisible" size="tiny" @close="init()">
            <el-form ref="form" label-position="left" label-width="180px" :model="form">
                <el-form-item label="赛事标题">
                    <el-input v-model="form.title" style="width: 300px;"></el-input>
                </el-form-item>
                <el-form-item label="选择路线">
                    <el-radio-group v-model="form.lineId" @change="_changeRadio">
                        <el-radio :label="item.id" v-for="(item,index) in lineList" ::key="index">{{item.title}}
                        </el-radio>
                        <el-radio :label="lineId">自定义路线</el-radio>
                    </el-radio-group>
                    
                    <el-dialog width="80%" :visible.sync="innerVisible" append-to-body>
                        <iframe :src="`./map.html?form=event`"></iframe>
                    </el-dialog>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="outerVisible = false">取 消</el-button>
                        <el-button type="primary" @click="innerVisible = true">打开内层 Dialog</el-button>
                    </div>



                </el-form-item>
                <el-form-item label="比赛报名时间">
                    <el-date-picker v-model="form.signStartTime" format="yyyy-MM-dd HH:mm:ss"
                        value-format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="选择日期时间" default-time="12:00:00">
                    </el-date-picker>
                </el-form-item>

                <el-form-item label="比赛开始时间">
                    <el-date-picker v-model="form.startTime" type="datetime" format="yyyy-MM-dd HH:mm:ss"
                        value-format="yyyy-MM-dd HH:mm:ss" placeholder="选择日期时间" default-time="12:00:00">
                    </el-date-picker>
                </el-form-item>

                <el-form-item label="比赛截止日期">
                    <el-date-picker v-model="form.endTime" type="datetime" format="yyyy-MM-dd HH:mm:ss"
                        value-format="yyyy-MM-dd HH:mm:ss" placeholder="选择日期时间" default-time="12:00:00">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="总人数">
                    <el-input v-model="form.totalNum" style="width: 300px;"></el-input>
                </el-form-item>
                <el-form-item label="积分奖励人数">
                    <el-input v-model="form.awardNum" style="width: 300px;"></el-input>
                </el-form-item>
                <el-form-item label="奖励积分">
                    <el-input v-model="form.integral" style="width: 300px;"></el-input>
                </el-form-item>

                <el-form-item label="描述">
                    <el-input type="textarea" v-model="form.content" style="width: 300px;"></el-input>
                </el-form-item>

                <el-form-item label="赛事封面">
                    <el-upload class="avatar-uploader" action="http://qixing.dqhtravel.com/DInterface/appimgupload.aspx"
                        :show-file-list="false" :on-success="handleAvatarSuccess">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
                <el-form-item>
                    <el-button plain @click.native.prevent="submit">提交</el-button>
                </el-form-item>
            </el-form>
            <!-- <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
            </span> -->
        </el-dialog>
    </div>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    innerVisible: false,
                    dialogVisible: false,
                    tableData: [],
                    lineList: [],
                    imageUrl: '',
                    id: '',
                    lineId:-1,
                    form: {
                        lineId: '',
                        signStartTime: '',
                        startTime: '',
                        endTime: '',
                        totalNum: '',
                        awardNum: '',
                        integral: '',
                        content: '',
                        title: '',
                        img: '',
                        startId:'',
                        endId:'',
                        ids:'',
                        
                    },
                };
            },
           
            methods: {
                dqh_wcList(startPointId, endPointId) {
                    fetch(`/PCodeClient/api.ashx?cmd=dqh_recommendWalkRoutes`).then((res) => {
                        console.log(res, 'res');
                        // let path = res.msg.ds1[0].lnglatGaode;
                        // console.log(JSON.parse(path), 'JSON.parse(path)');
                        // path = JSON.parse(path);
                        // let _path = path.map(v => [v.lng, v.lat])
                        // draw(_path);
                        // iframe.postMsg({
                        // list: _path
                        // })
                        this.lineList = res.msg.ds1;
                    })
                },

                _changeRadio() {
                    console.log(this.lineId ,this.form.lineId)
                    if(this.form.lineId == -1 || this.lineId ==this.form.lineId){
                        this.innerVisible = true;
                    }
                },
                add() {
                    this.dqh_wcList();
                    this.dialogVisible = true;
                    this.$nextTick(() => {
                        console.log(this.$refs.form)
                        this.$refs.form?.resetFields();
                        this.form = {
                            lineId: '',
                            signStartTime: '',
                            startTime: '',
                            endTime: '',
                            totalNum: '',
                            awardNum: '',
                            integral: '',
                            content: '',
                            title: '',
                            img: '',
                        }
                    })
                },
                handleClick(row) {
                    console.log(row);
                    let params = {
                        'matchId': row.id
                    }
                    fetch('/PCodeClient/api.ashx?cmd=dqh_signMatch',
                        params
                    ).then(res => {
                        this.$message.success(res.msg.ds[0].msg)
                        this.init()
                    })
                },
                handleAvatarSuccess(res, file) {
                    this.form.img = res.src;
                    this.imageUrl = URL.createObjectURL(file.raw);
                },
                // beforeAvatarUpload(file) {
                //     const isJPG = file.type === 'image/jpeg';
                //     const isLt2M = file.size / 1024 / 1024 < 2;
                //     if (!isJPG) {
                //         this.$message.error('上传头像图片只能是 JPG 格式!');
                //     }
                //     if (!isLt2M) {
                //         this.$message.error('上传头像图片大小不能超过 2MB!');
                //     }
                //     return isJPG && isLt2M;
                // },
                submit() {

                    fetch('/PCodeClient/api.ashx?cmd=dqh_creatMatch',
                        this.form).then((res) => {
                            this.$message.success(res.msg.ds[0].msg)
                            this.dialogVisible = false;
                        })
                },
                init() {
                    fetch('/PCodeClient/api.ashx?cmd=dqh_matchList')
                        .then(res => {
                            this.tableData = res.msg.ds1;
                        })
                }
            },
            created() {
                this.init()

            },
            mounted() {
                iframe.listenMsg((v) => {
                    console.log(v)
                    // let arr = v.data.list.reduce((v,k)=>{
                    // return [...v,...k]
                    // },[])
                    // console.log(arr)

                    // this.form = {...this.form,...v.data}
                    this.lineId = v.data
                    this.form.lineId = v.data
                })
            },
        })
    </script>

</body>

</html>